page-item-detail {
  .item-profile {
    width: 100%;
    background-size: cover;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    height: 250px;
  }

  .item-detail {
    width: 100%;
    background: white;
    position: absolute;
  }
}
